<ion-view view-title="Cities">

  <ion-nav-bar>
    <ion-nav-buttons side="left">
      <a ng-click="goBackState()" class="button button-icon icon ion-ios-arrow-back"></a>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <span ng-if="!guestMode">
        <i ng-hide="cityAddDisplay" ng-click="cityChangeDisplay()" class="ion-ios-plus-outline navicon"></i>
        <i ng-show="cityAddDisplay" ng-click="cityChangeDisplay()" class="ion-navicon-round navicon"></i>
      </span>
    </ion-nav-buttons>

  </ion-nav-bar>

  <ion-content>

    <div class="bar bar-header item-input-inset {{searchBarClass}}">
        <label class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="text" ng-autocomplete ng-disabletap select-all-in-input ng-onenter="searchMap(result.location)" ng-model="result.location" placeholder="Search">
          </label>
          <div class="buttons">
            <button class="button button-outline button-positive" ng-click="result.location=''">Cancel</button>
          </div>
    </div>

    <div class="card" id="destinationDisplay" ng-if="destinationDisplay" ng-click="cardDisplayChange()">
      <div scroll="true" class="item item-text-wrap">
        <h1 class="title">{{googDetails.name}}</h1>
        <img src="{{googDetails.photos[0].getUrl({'maxWidth': 200, 'maxHeight': 200})}}">
        <p ng-if="dbDetails.city_description">Description: {{dbDetails.city_description}}</p>
      </div>
      <div class="buttons">
        <button class="button button-outline button-positive" ng-click="result.location=''">Edit</button>
      </div>
      <div class="buttons">
        <button class="button button-outline button-positive" ng-click="deleteCity({{dbDetails}})">Delete</button>
      </div>
    </div>

    <div id="cityMap" class="{{cityMapClass}}" data-tap-disabled="true"></div>

      <ion-scroll style="height:35vh" direction="y" scrollbar-y="false">
        <ion-list class="{{cityListClass}}">
          <ion-item ng-repeat="city in cities">
            <span class="inline-text">{{city.letter}}{{city.city_name}}</span>

            <span class="inline-icon"><i ng-click="displayFire(city.city_place_id,city)" class=" ion-ios-search navicon"></i>
            <i ng-click="sendToMarkerMap(city)" class="ion-map navicon pos-icon"></i></span>

          </ion-item>
        </ion-list>
      </ion-scroll>

    <ion-footer-bar ng-show="!destinationDisplay&&footerActive&&cityAddDisplay" ng-click="displayFire(googDetails.place_id)" id="destinationFooterBar" align-title="left" class="bar-assertive">
      <h1 class="title">{{googDetails.name}}</h1>
      <div class="buttons" ng-click="modal.show(); stopProp($event)">
        <button class="button">
          <div id="star-button-div">
            <img class="gold-star" src="img/Gold_Star.png">
          </div>
          <p class="star-text-p">Save location</p>
        </button>
      </div>
    </ion-footer-bar>

  </ion-content>
</ion-view>
