<ion-view view-title="facebook friends cities">
  <ion-content>

    <ion-list>
      <ion-item ng-repeat="city in cities">
        {{city.city_name}} {{city.fbName}}
          <button ui-sref="app.cities({id: city.trip_id})" class="item-right button small_button button-outline button-positive"><i class="ion-map navicon"></i></button>
      </ion-item>
    </ion-list>

    <!-- <ion-item ui-sref="app.addtrips" class="ng-list-float-right" style="display: -webkit-box;">
      <i" ion-ios-plus-outline navicon"></i>
      <p class="ng-list-float-right">Create a new trip</p>
    </ion-item> -->

  </ion-content>
</ion-view>
