<ion-view view-title="Home">
  <ion-content>

      <div class="row">
        <div class="col">
          <div class="card" ui-sref="app.addtrips"\>
            <div class="item item-divider">create a trip</div>
            <div class="item item-image">
              <img src="http://az616578.vo.msecnd.net/files/2016/05/31/63600314386235884371908103_vacationvan.jpg">
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" ui-sref="app.trips">
            <div class="item item-divider">My Trips</div>
            <div class="item item-image">
              <img src="https://static.pexels.com/photos/196464/pexels-photo-196464.jpeg">
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="item item-divider">
          explore trips
        </div>
        <div class="item item-image">
          <img src="http://www.adrmediaenterprises.com/TRAVEL.jpg">
        </div>
      </div>

  </ion-content>



</ion-view>
