<ion-view view-title="Home">
  <ion-content>

      <div class="row" style="height:44vh;">
        <div class="col">
          <div class="card" ui-sref="app.addtrips"\>
            <div class="item item-divider">create a trip</div>
            <div class="item item-image">
              <img class="img-vertical" src="img/highway-leads-on-wilderness-road-alaska-mountain-P97U778.jpg">
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" ui-sref="app.trips">
            <div class="item item-divider">my trips</div>
            <div class="item item-image">
              <img class="img-vertical" src="img/outdoors-lifestyle-image-of-travelling-man-with-PAGZUMB.jpg">
            </div>
          </div>
        </div>
      </div>

      <div class="card" ui-sref="app.fbfriendscities">
        <div class="item item-divider">
          explore cities
        </div>
        <div class="item item-image">
          <img class="img-horizontal" src="img/back-view-of-friends-standing-near-the-car-P4NA44K.jpg">
        </div>
      </div>

  </ion-content>



</ion-view>
