<ion-modal-view view-title="Login">
    <ion-content>
    <div class="bar bar-header item-input-inset">
      <h1 class="title">Login</h1>
      <div class="buttons">
        <button class="button button-clear" ng-click="closeLogin()">Close</button>
      </div>
    </div>

    <form ng-submit="doLogin()">
    <label class="item item-input">
      <span class="input-label">Username</span>
      <input type="text" ng-model="loginData.email">
    </label>
    <label class="item item-input">
      <span class="input-label">Password</span>
      <input type="password" ng-model="loginData.password">
    </label>
    <button class="button button-block button-positive" type="submit">Log in</button>
    <button ng-click="facebookLogin()"class='button button-block button-positive'>Log in with facebook</button>
    <a ui-sref="signUp" class="button button-calm button-block button-outline">Don't have an account? Sign up!</a>
    </form>
  </ion-content>
</ion-modal-view>
