<ion-modal-view view-title="Login">
    <ion-content>
    <div class="bar bar-header item-input-inset">
      <h1 class="title">Login</h1>
      <div class="buttons">
        <button class="button button-clear" ng-click="closeLogin()">Close</button>
      </div>
    </div>

    <form ng-submit="login()">
      <label class="item item-input">
        <span class="input-label">Username</span>
        <input type="text" value="ian@gmail.com" ng-model="user.email"></input>
      </label>
      <label class="item item-input">
        <span class="input-label">Password</span>
        <input type="password" value="ian" ng-model="user.password"></input>
      </label>
      <button class="button button-block button-positive" type="submit">Log in</button>
    </form>
    <button ng-click="fbLogin()"class='button button-block button-positive'><img class="fb-image" src="img/facebook-transparent-logo-png-0.png"></img>Continue with facebook</button>
    <a ui-sref="signUp" class="button button-calm button-block button-outline">Don't have an account? Sign up!</a>
  </ion-content>
</ion-modal-view>
