<ion-view>
  <ion-content>
    <div class="bar bar-header item-input-inset">
      <label class="item-input-wrapper">
        <i class="icon ion-ios7-search placeholder-icon"></i>
        <!-- <input id="searchTextField" type="search" placeholder="Search"> -->
        <input type="text" id="Autocomplete" class="form-control" ng-autocomplete ng-model="result1" />
        <div>result: {{result1}}</div>
      </label>
      <button ion-button button-outline>Cancel</button>
    </div>
    <div id="map" data-tap-disabled="true"></div>
  </ion-content>
</ion-view>




// for list below search bar
