<ion-view view-title="Locations">

  <ion-nav-bar>
    <ion-nav-buttons side="right">
            <i ng-hide="markerAddDisplay" ng-click="markerChangeDisplay()" class="ion-ios-plus-outline navicon"></i>
            <i ng-show="markerAddDisplay" ng-click="markerChangeDisplay()" class="ion-navicon-round navicon"></i>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content>

    <div class="bar bar-header {{searchBarClass}} item-input-inset">
        <label class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="text" ng-autocomplete ng-disabletap select-all-in-input ng-onenter="searchMap(result.location)" ng-model="result.location" placeholder="Search">
          </label>
          <div class="buttons">
            <button class="button button-outline button-positive" ng-click="result.location=''">Cancel</button>
          </div>
    </div>


    <div id="markerMap" class="map-full {{markerMapClass}}" data-tap-disabled="true"></div>

    <div class="card" id="destinationDisplay" ng-if="destinationDisplay" ng-click="displayFire()">
      <div scroll="true" class="item item-text-wrap">
        <h1 class="title">{{details.name}}</h1>
        <h2>{{details.formatted_address}}</h2>
        <p>rating: {{details.rating}}</p>
        <p>price level: {{details.price_level}}</p>
        <p>{{details.opening_hours.weekday_text[0]}}</p>
        <p>{{details.international_phone_number}}</p>
        <a href="{{details.webiste}}">{{details.webiste}}</a>
      </div>
      <div class="buttons">
        <button class="button button-outline button-positive" ng-click="deleteMarker(details.markerDbObj)">Delete</button>
      </div>
    </div>

    <ion-scroll direction="y" class="{{cityListClass}}">
      <ion-list>
        <ion-item ng-repeat="marker in markers">
            {{marker.letter}}{{marker.marker_name}}
            <button class="button small_button button-outline button-positive" ng-click="displayFire(marker)"><i class="icon small_button ion-ios-search ion-search"></i></button>
        </ion-item>
      </ion-list>
    </ion-scroll>


    <ion-footer-bar ng-show="!destinationDisplay&&footerActive&&markerAddDisplay" ng-click="displayFire()" id="destinationFooterBar" align-title="left" class="bar-assertive">
      <h1 class="title">{{details.name}}</h1>
      <div class="buttons" ng-click="modal.show(); stopProp($event)">
        <button class="button">
          <div id="star-button-div">
            <img class="gold-star" src="../img/Gold_star.png">
          </div>
          <p class="star-text-p">Save location</p>
        </button>
      </div>
    </ion-footer-bar>
  </ion-content>
</ion-view>
