<ion-view view-title="Trips">
  <ion-content>

    <ion-list>
      <ion-item ng-repeat="trip in trips" href="#/app/trips/{{trip.id}}">
        {{trip.trip_name}}
          <button class="item-right button small_button button-outline button-positive" ng-click="deleteTrip(trip)">delete</button>
          <button class="item-right button small_button button-outline button-positive" ui-sref="app.cities({id: trip.id})">City Map</button>
      </ion-item>
    </ion-list>

    <ion-item ng-click="modal.show()" class="ng-list-float-right" style="display: -webkit-box;">
      <i" ion-ios-plus-outline navicon"></i>
      <p class="ng-list-float-right">Create a new trip</p>
    </ion-item>

  </ion-content>
</ion-view>
