/* Empty. Add your own CSS if you like */
html {
   height: 100%;
   font-size: 16px;
}

.noPadding {
  padding-top: 0px;
  padding-bottom: 0px;
}

.scroll {
  height: 100%;
}

.navicon {
  font-size: 2rem;
}

.img-vertical {
  height: 34vh;
}

.list-marker-p {
  margin-left: 1.5rem;
}

.loginBtn {
  box-sizing: border-box;
  position: relative;
  margin: 0.2em;
  padding: 0 15px 0 46px;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #FFF;
}

.img-horizontal {
  height: 33vh;
}

.fb-image {
  height: 2rem;
  width: 2rem;
  vertical-align: middle;
  margin-top: .25rem;
  float: left;
}

.inline-text {
  display: inline-block;
  vertical-align: middle;
  margin-left: 1rem;
}

.item-content {
  padding: 16px 16px 16px 16px !important;
  width: 100%;
}

.inline-icon {
  display: inline-block;
  vertical-align: middle;
  color: DodgerBlue;
  float:right;
}

.pos-icon {
  margin-left: .25rem;
}

.pac-item {
  z-index: 3000 !important;
}

#searchBarWindow {
  width: 100%;
  height: 8%;
}

#searchBar {
  padding-bottom: 2%;
}


.map-full {
  width: 100%;
  height: 92%;
}

.map-half {
  width: 100%;
  height: 62%;
}

.list-half {
  width: 100%;
  height: 30vh;
}

.search-show {

}

.list-hide, .search-hide {
  display: none;
}

.map-with-destination {
  width: 100%;
  height: 80%;
}

.footer-bar-show {
  width: 100%;
  height: 12%;
  color: blue;
  display: block;
}

.footer-bar-hide {
  display: none;
}

.text-area {
  height: 5rem;
}

.gold-star {
  height: 1.5rem;
  position: relative;
}

.gold-star-inlist {
  height: .75rem;
  position: relative;
}

.star-text-p {
  top:1.5rem;
  font-size: .8rem;
  height: 1.5rem;
  position: absolute;
}

.star-button {
  width: 6rem;
}

.small_button {
  line-height: 5px;
  min-height: 35px;
  text-align:right;
}

#star-button-div {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  border-top: 0px;
  border-bottom: 0px;
}

.card-text, .card-text-inset, .card-text-address  {
  margin: 0rem 3rem .25rem 1rem;
}

.card-text-inset {
  margin-left: 2rem;
}

.card-title {
  white-space: normal;
  font-size: 1.75rem;
  line-height: 1.5rem;
  margin: 0 1rem .1rem 0rem;
}

.card-img {
  border-radius: .2rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.card-img-city {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.card-text-address {
  font-size: 1rem;
  margin-top: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;

}

.card-button {
  margin: .75rem 3rem 0 0;

}
.card-heading {
  margin-top: .2rem;
}

#destinationDisplay {
  height: 80%;
  top: 10%;
  position: absolute;
  z-index: 99;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
