/* Empty. Add your own CSS if you like */
html {
   height: 100%;
   font-size: 16px;
}

.noPadding {
  padding-top: 0px;
  padding-bottom: 0px;
}

.scroll {
  height: 100%;
}

.navicon {
  font-size: 2rem;
}

.img-vertical {
  height: 34vh;
}

.img-horizontal {
  height: 33vh;
}

.inline-text {
  display: inline-block;
  vertical-align: middle;
  margin-left: 1rem;
}

.item-content {
  padding: 16px 16px 16px 16px !important;
  width: 100%;
}

.inline-icon {
  display: inline-block;
  vertical-align: middle;
  color: DodgerBlue;
  float:right;
}

.pos-icon {
  margin-left: .25rem;
}

.pac-item {
  z-index: 3000 !important;
}

#searchBarWindow {
  width: 100%;
  height: 8%;
}

#searchBar {
  padding-bottom: 2%;
}


.map-full {
  width: 100%;
  height: 92%;
}

.map-half {
  width: 100%;
  height: 62%;
}

.list-half {
  width: 100%;
  height: 30vh;
}

.search-show {

}

.list-hide, .search-hide {
  display: none;
}

.map-with-destination {
  width: 100%;
  height: 80%;
}

#destinationFooterBar {
  width: 100%;
  height: 12%;
}


.text-area {
  height: 5rem;
}

.gold-star {
  height: 1.5rem;
  position: relative;
}

.star-text-p {
  top:1.5rem;
  font-size: .8rem;
  height: 1.5rem;
  position: absolute;
}

.star-button {
  width: 6rem;
}

.small_button {
  line-height: 5px;
  min-height: 35px;
  text-align:right;
}

#star-button-div {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  border-top: 0px;
  border-bottom: 0px;
}


#destinationDisplay {
  height: 80%;
  top: 10%;
  position: absolute;
  z-index: 99;
}
